flows.json
[{"id":"3e20993d.c684a6","type":"tab","label":"Example flow","disabled":false,"info":""},{"id":"f510a0ee.ecd55","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c55b7d4c.c2261","type":"tab","label":"Add nodes on input","disabled":false,"info":""},{"id":"6dc42510.9834cc","type":"tab","label":"Camera follows object","disabled":true,"info":""},{"id":"f1a05c31.13f0f","type":"tab","label":"Object follows camera","disabled":true,"info":""},{"id":"96d84b70.9d8f28","type":"tab","label":"Mesh on OTF","disabled":true,"info":""},{"id":"9b7d5f1e.3fabc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97008a6.baaeb8","type":"ui_group","name":"Gauge","tab":"9b7d5f1e.3fabc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e18cd293.17e2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3ca754b.ad6ed8","type":"ui_group","name":"Vertical Tank","tab":"9b7d5f1e.3fabc","order":2,"disp":true,"width":"6","collapse":false},{"id":"224e2422.a02d9c","type":"ui_group","name":"Horizontal Tank","tab":"9b7d5f1e.3fabc","order":3,"disp":true,"width":"6","collapse":false},{"id":"318afd82.526b22","type":"mqtt-broker","name":"","broker":"tomicloud.ddns.net","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"438e4068.f76dd","type":"comment","z":"3e20993d.c684a6","name":"Add webtables","info":"The node-red editor.","x":80,"y":40,"wires":[]},{"id":"a3c557ef.58bd08","type":"add-light","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"exp-light","position":{"x":-200,"y":2000,"z":1200},"orientation":{"w":1,"x":0,"y":1,"z":0},"scale":{"x":2,"y":2,"z":2},"diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":1,"z":0},"autophysical":false,"physical":{"raycast":false}}},"x":400,"y":80,"wires":[[]]},{"id":"17d646a9.b2c1f9","type":"comment","z":"3e20993d.c684a6","name":"add meshes","info":"","x":550,"y":40,"wires":[]},{"id":"7fc7a0d0.294a5","type":"comment","z":"3e20993d.c684a6","name":"Add light","info":"","x":400,"y":40,"wires":[]},{"id":"b18194e4.3e82a8","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":-1000,"y":700,"z":-500},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable editor","save":false},"x":160,"y":80,"wires":[[]]},{"id":"49f6e49c.e8d1cc","type":"comment","z":"3e20993d.c684a6","name":"Click here for gizmo control inputs","info":"crtl + right click to select target\nq, w, e to chage between modes\nesc to quit gizmo","x":840,"y":220,"wires":[]},{"id":"c44fd63f.d57758","type":"comment","z":"3e20993d.c684a6","name":"Manipulating the wom form external data source","info":"","x":200,"y":500,"wires":[]},{"id":"1479fe41.0d2352","type":"comment","z":"3e20993d.c684a6","name":"Add mesh hierachy","info":"","x":850,"y":40,"wires":[]},{"id":"714095ba.22fc2c","type":"inject","z":"3e20993d.c684a6","name":"send json: {\"x\":0,\"y\":0,\"z\":1,\"w\":1}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":1,\"y\":0,\"z\":0,\"w\":1}","payloadType":"json","x":170,"y":600,"wires":[["b73a7063.17f4e"]]},{"id":"b73a7063.17f4e","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"bigPengu","mode":"fromInput","reference":"relative","space":"parent","displayName":"rotate big penguin"},"x":550,"y":620,"wires":[[]]},{"id":"1002ce27.c3ee32","type":"inject","z":"3e20993d.c684a6","name":"send json on button click: {\"x\":0,\"y\":0,\"z\":10}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":0,\"y\":0,\"z\":20}","payloadType":"json","x":210,"y":560,"wires":[["6abf39f5.11b488"]]},{"id":"6abf39f5.11b488","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"camera","mode":"fromInput","reference":"relative","space":"parent","displayName":"move camera backwards"},"x":510,"y":560,"wires":[[]]},{"id":"5edfacef.cfee74","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"url\":\"penguin.mesh\",\"scale\":5,\"position\":{\"x\":-1000,\"y\":100,\"z\":100}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"penguin.mesh\",\"scale\":5,\"position\":{\"x\":-1000,\"y\":100,\"z\":100}}","payloadType":"json","x":320,"y":300,"wires":[[]]},{"id":"cf334b53.d75178","type":"load-otf-asset","z":"96d84b70.9d8f28","settings":{"otf":"test-asset-1","displayName":"Load test-asset-1 OTF asset"},"x":180,"y":140,"wires":[["3c6ceb12.f8ce04"]]},{"id":"d96d7b7.f6e5088","type":"inject","z":"c55b7d4c.c2261","name":"Non JSON input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[[]]},{"id":"270d2e3c.3f1502","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"url\":\"gauge_body.mesh\",\"scale\":30,\"position\":{\"x\":-800,\"y\":100,\"z\":100}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"gauge_body.mesh\",\"scale\":30,\"position\":{\"x\":-800,\"y\":100,\"z\":100}}","payloadType":"json","x":330,"y":260,"wires":[[]]},{"id":"3c6ceb12.f8ce04","type":"add-mesh","z":"96d84b70.9d8f28","settings":{"create":"input","options":{"url":"gomb.mesh","position":{"x":-400,"y":800,"z":100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1000,"y":1000,"z":1000},"autophysical":true,"physical":{"raycast":true}},"displayName":"add gomb mesh from OTF"},"x":460,"y":140,"wires":[[]]},{"id":"fcf00a7e.3c3bc8","type":"inject","z":"3e20993d.c684a6","name":"send json:{\"axis\":{\"x\":1,\"y\":0,\"z\":0},\"angle\":10}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"axis\":{\"x\":1,\"y\":0,\"z\":0},\"angle\":10}","payloadType":"json","x":210,"y":640,"wires":[["b73a7063.17f4e"]]},{"id":"67f9da73.7c1df4","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-dashboard","url":"http://localhost:8000/api/ui/","position":{"x":-800,"y":900,"z":1200},"orientation":{"x":0,"y":0.7071067811865476,"z":0,"w":0.7071067811865476},"scale":{"x":1.5,"y":1.5,"z":1.5},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable dashboard","save":false},"x":190,"y":120,"wires":[[]]},{"id":"5f7cc778.d4f7c8","type":"add-webtable","z":"c55b7d4c.c2261","settings":{"create":"input","options":{"url":"http://localhost:8000/red/","position":{"x":0,"y":1500,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable on input","save":false},"x":800,"y":660,"wires":[["6e2b68b6.96f708"]]},{"id":"61f3e7b8.5fd3c8","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"id\":\"wb2\",\"position\":{\"x\":0,\"y\":2500,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"wb2\",\"position\":{\"x\":0,\"y\":2500,\"z\":0}}","payloadType":"json","x":240,"y":720,"wires":[["5f7cc778.d4f7c8"]]},{"id":"b1932ced.cf8ce","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"id\":\"wb3\",\"position\":{\"x\":0,\"y\":3500,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"wb3\",\"position\":{\"x\":0,\"y\":3500,\"z\":0}}","payloadType":"json","x":240,"y":780,"wires":[["5f7cc778.d4f7c8"]]},{"id":"39fa3550.6826aa","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":140,"wires":[]},{"id":"990d09a9.4442a8","type":"inject","z":"c55b7d4c.c2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"top\":500}","payloadType":"json","x":120,"y":1160,"wires":[[]]},{"id":"722ef14a.174d2","type":"inject","z":"c55b7d4c.c2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1040,"wires":[[]]},{"id":"a21a3bd1.0bec48","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1080,"wires":[]},{"id":"cb21ea01.da6b98","type":"inject","z":"c55b7d4c.c2261","name":"Inject {\"data\":{\"options\":{\"position\":{\"x\":-1400,\"y\":100,\"z\":100}}}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"options\":{\"position\":{\"x\":-1400,\"y\":100,\"z\":100}}}}","payloadType":"json","x":280,"y":1500,"wires":[[]]},{"id":"170026ab.d522f9","type":"inject","z":"c55b7d4c.c2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1380,"wires":[[]]},{"id":"2e7fd67e.11d44a","type":"comment","z":"c55b7d4c.c2261","name":"Add mesh on input","info":"","x":90,"y":40,"wires":[]},{"id":"37e5e5ab.e25eba","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":100,"wires":[]},{"id":"1e41b979.c89d27","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":220,"wires":[]},{"id":"774452c3.bdf18c","type":"comment","z":"c55b7d4c.c2261","name":"Add webtable on input","info":"","x":100,"y":360,"wires":[]},{"id":"6ff2021a.1ea16c","type":"inject","z":"c55b7d4c.c2261","name":"Non JSON input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["5f7cc778.d4f7c8"]]},{"id":"7fbbeafd.af6944","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":420,"wires":[]},{"id":"d375044e.458a18","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":600,"wires":[]},{"id":"83936c81.c1f02","type":"comment","z":"c55b7d4c.c2261","name":"Add overlay on input","info":"","x":90,"y":920,"wires":[]},{"id":"1aa751f0.7dc1be","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":1000,"wires":[]},{"id":"1774114f.ff86cf","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":1120,"wires":[]},{"id":"3a0158f7.87c038","type":"comment","z":"c55b7d4c.c2261","name":"Add mesh hierarchy on input","info":"","x":120,"y":1280,"wires":[]},{"id":"46027a59.022604","type":"comment","z":"c55b7d4c.c2261","name":"Non object input only triggers ","info":"","x":160,"y":1340,"wires":[]},{"id":"d4cdfe6b.3ee42","type":"comment","z":"c55b7d4c.c2261","name":"Object changes the properties","info":"","x":160,"y":1460,"wires":[]},{"id":"6e2b68b6.96f708","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":660,"wires":[]},{"id":"df863e61.a4645","type":"debug","z":"c55b7d4c.c2261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1420,"wires":[]},{"id":"590c3cd3.96e124","type":"add-light","z":"c55b7d4c.c2261","settings":{"create":"input","options":{"position":{"x":0,"y":400,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":-1,"z":0},"autophysical":false,"physical":{"raycast":false}}},"x":720,"y":1740,"wires":[[]]},{"id":"9659d013.fb6ad","type":"inject","z":"c55b7d4c.c2261","name":"{\"position\":{\"x\":600,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"exp-light2\",\"position\":{\"x\":600,\"y\":1000,\"z\":0}}","payloadType":"json","x":340,"y":1700,"wires":[[]]},{"id":"51aa8cf8.dd08d4","type":"inject","z":"c55b7d4c.c2261","name":"{\"position\":{\"x\":-600,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":-600,\"y\":0,\"z\":0}}","payloadType":"json","x":340,"y":1740,"wires":[["590c3cd3.96e124"]]},{"id":"c4afcd99.5fe46","type":"inject","z":"c55b7d4c.c2261","name":"{\"position\":{\"x\":0,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":0,\"y\":1000,\"z\":0}}","payloadType":"json","x":330,"y":1780,"wires":[[]]},{"id":"7ec9f12b.80bdd","type":"wom-event-subscribe","z":"6dc42510.9834cc","settings":{"eventName":"node-position","subject":"littlePengu","displayName":"When littlePengu is changing his position"},"x":160,"y":60,"wires":[["8ddf1f08.a6f68","ebefec4a.e3cb5"]]},{"id":"8ddf1f08.a6f68","type":"get-node-property","z":"6dc42510.9834cc","settings":{"nodeid":"littlePengu","prop":"position","displayName":"get littlePengu position"},"x":460,"y":60,"wires":[["26b51704.cfbe98"]]},{"id":"26b51704.cfbe98","type":"function","z":"6dc42510.9834cc","name":"Add 300 to z","func":"msg.payload.z+=300\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":120,"wires":[["eb416a71.20d298"]]},{"id":"eb416a71.20d298","type":"set-position","z":"6dc42510.9834cc","settings":{"nodeid":"camera","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set camera position"},"x":490,"y":180,"wires":[[]]},{"id":"ebefec4a.e3cb5","type":"set-orientation","z":"6dc42510.9834cc","settings":{"nodeid":"camera","mode":"local","oriType":"quaternion","quaternion":{"x":0,"y":0,"z":0,"w":1},"reference":"absolute","space":"parent","displayName":"set camera orientation"},"x":480,"y":240,"wires":[[]]},{"id":"66e04604.240f38","type":"inject","z":"6dc42510.9834cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["a88a2bc4.155ff8"]]},{"id":"a88a2bc4.155ff8","type":"set-position","z":"6dc42510.9834cc","settings":{"nodeid":"littlePengu","mode":"local","position":{"x":-20,"y":0,"z":0},"reference":"relative","space":"parent","displayName":"move littlepengu"},"x":320,"y":360,"wires":[[]]},{"id":"119e95bb.b3aa1a","type":"wom-event-subscribe","z":"f1a05c31.13f0f","settings":{"eventName":"node-position","subject":"camera","displayName":"When camera is changing his position"},"x":190,"y":100,"wires":[["2af9022e.80674e","fff70294.d8566"]]},{"id":"2af9022e.80674e","type":"get-node-property","z":"f1a05c31.13f0f","settings":{"nodeid":"camera","prop":"position","displayName":"get camera position"},"x":490,"y":120,"wires":[["f76b3598.221428"]]},{"id":"f76b3598.221428","type":"function","z":"f1a05c31.13f0f","name":"Sub 300 from z","func":"msg.payload.z-=300\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["c0f2603a.ff809"]]},{"id":"c0f2603a.ff809","type":"set-position","z":"f1a05c31.13f0f","settings":{"nodeid":"littlePengu","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set little pengu position"},"x":540,"y":240,"wires":[[]]},{"id":"fff70294.d8566","type":"debug","z":"f1a05c31.13f0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":360,"wires":[]},{"id":"8361dc04.36f96","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP1","position":{"x":-274,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP1","save":false},"x":90,"y":40,"wires":[[]]},{"id":"db742226.9e729","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"btabla.mesh","id":"tabla","position":{"x":1110,"y":0,"z":640},"orientation":{"x":0,"y":0.7070849579135091,"z":0.7070849579135091,"w":0.007856499532372324},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"tabla","save":false},"x":650,"y":40,"wires":[[]]},{"id":"66f836a3.f8a8c8","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP3","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP3","save":false},"x":370,"y":40,"wires":[[]]},{"id":"53da65e0.d9505c","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP4","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP4","save":false},"x":510,"y":40,"wires":[[]]},{"id":"fc381e03.3da79","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP5","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP5","save":false},"x":90,"y":80,"wires":[[]]},{"id":"178ccf2d.5d3f61","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP6","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP6","save":false},"x":230,"y":80,"wires":[[]]},{"id":"17421efb.68e421","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP7","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP7","save":false},"x":370,"y":80,"wires":[[]]},{"id":"b62cd4d1.32ca38","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP8","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP8","save":false},"x":510,"y":80,"wires":[[]]},{"id":"71d21594.99dc0c","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wpawn.mesh","id":"WP2","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WP2","save":false},"x":230,"y":40,"wires":[[]]},{"id":"b90d2fc4.8fc32","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":740,"wires":[["4a4d35a6.f9f7ec"]]},{"id":"73bc7977.2e4e18","type":"switch","z":"f510a0ee.ecd55","name":"","property":"payload.babu","propertyType":"msg","rules":[{"t":"eq","v":"WP1","vt":"str"},{"t":"eq","v":"WP2","vt":"str"},{"t":"eq","v":"WP3","vt":"str"},{"t":"eq","v":"WP4","vt":"str"},{"t":"eq","v":"WP5","vt":"str"},{"t":"eq","v":"WP6","vt":"str"},{"t":"eq","v":"WP7","vt":"str"},{"t":"eq","v":"WP8","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":230,"y":780,"wires":[["8cd576ff.0ac5a8"],["6229ad53.6cb424"],["b90d2fc4.8fc32"],["fe764cb0.69992"],["86f730d0.157f3"],["e1265d33.6d13f"],["2b60f89a.37ec68"],["25ac1f64.fa25b"]]},{"id":"4a4d35a6.f9f7ec","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP3","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP3"},"x":600,"y":740,"wires":[[]]},{"id":"f223a698.c39b28","type":"mqtt in","z":"f510a0ee.ecd55","name":"Boti/Acca","topic":"Boti/Acca","qos":"0","datatype":"json","broker":"318afd82.526b22","x":80,"y":1220,"wires":[["73bc7977.2e4e18","34904631.84c90a","8b027e14.0ebdb","20bdf897.af9be8"]]},{"id":"8cd576ff.0ac5a8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["fe45dfc8.1a1df"]]},{"id":"6229ad53.6cb424","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":700,"wires":[["66795b18.fbef94"]]},{"id":"fe764cb0.69992","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":780,"wires":[["2c538bea.c383f4"]]},{"id":"86f730d0.157f3","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":820,"wires":[["9de2c247.127b4"]]},{"id":"e1265d33.6d13f","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":860,"wires":[["4871d9f4.391f68"]]},{"id":"2b60f89a.37ec68","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["ff41f655.a5cc78"]]},{"id":"25ac1f64.fa25b","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":940,"wires":[["275e0521.b5843a"]]},{"id":"fe45dfc8.1a1df","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP1"},"x":600,"y":660,"wires":[[]]},{"id":"66795b18.fbef94","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP2"},"x":600,"y":700,"wires":[[]]},{"id":"2c538bea.c383f4","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP4","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP4"},"x":600,"y":780,"wires":[[]]},{"id":"9de2c247.127b4","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP5","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP5"},"x":600,"y":820,"wires":[[]]},{"id":"4871d9f4.391f68","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP6","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP6"},"x":600,"y":860,"wires":[[]]},{"id":"ff41f655.a5cc78","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP7","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP7"},"x":600,"y":900,"wires":[[]]},{"id":"275e0521.b5843a","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WP8","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WP8"},"x":600,"y":940,"wires":[[]]},{"id":"f99e313b.fa843","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wrook.mesh","id":"WR1","position":{"x":-274,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WR1","save":false},"x":90,"y":140,"wires":[[]]},{"id":"fd54e6eb.f91f98","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wbishop.mesh","id":"WB1","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0.9999845682584501,"z":0,"w":0.005555469823658055},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WB1","save":false},"x":370,"y":140,"wires":[[]]},{"id":"538cc0af.389d8","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wking.mesh","id":"WK","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WK","save":false},"x":510,"y":140,"wires":[[]]},{"id":"3f9a8923.4655a6","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wqueen.mesh","id":"WQ","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0.9999845682584501,"z":0,"w":0.005555469823658055},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WQ","save":false},"x":90,"y":180,"wires":[[]]},{"id":"bd8b21a3.7d313","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wbishop.mesh","id":"WB2","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0.9999845682584501,"z":0,"w":0.005555469823658055},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WB2","save":false},"x":230,"y":180,"wires":[[]]},{"id":"947b022d.415c1","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wknight.mesh","id":"WN2","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0.9999845682584501,"z":0,"w":0.005555469823658055},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WN2","save":false},"x":370,"y":180,"wires":[[]]},{"id":"2f83760d.b6ff3a","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wrook.mesh","id":"WR2","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WR2","save":false},"x":510,"y":180,"wires":[[]]},{"id":"a2419833.d12228","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"wknight.mesh","id":"WN1","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0.9999845682584501,"z":0,"w":0.005555469823658055},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"WN1","save":false},"x":230,"y":140,"wires":[[]]},{"id":"e2be96df.15bdb8","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP1","position":{"x":-274,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP1","save":false},"x":90,"y":240,"wires":[[]]},{"id":"c83a5911.c2b518","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP3","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP3","save":false},"x":370,"y":240,"wires":[[]]},{"id":"cff7f7cb.1662e8","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP4","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP4","save":false},"x":510,"y":240,"wires":[[]]},{"id":"53decaa8.d2f074","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP5","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP5","save":false},"x":90,"y":280,"wires":[[]]},{"id":"bff5b847.f9a088","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP6","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP6","save":false},"x":230,"y":280,"wires":[[]]},{"id":"ff002a26.575db8","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP7","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP7","save":false},"x":370,"y":280,"wires":[[]]},{"id":"85715b8b.8461f8","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP8","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP8","save":false},"x":510,"y":280,"wires":[[]]},{"id":"a207cdb1.4afa3","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gpawn.mesh","id":"BP2","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BP2","save":false},"x":230,"y":240,"wires":[[]]},{"id":"def46e29.17b74","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"rook.mesh","id":"BR1","position":{"x":-274,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BR1","save":false},"x":90,"y":340,"wires":[[]]},{"id":"1b674cf.ac0aeb3","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gbishop.mesh","id":"BB1","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BB1","save":false},"x":370,"y":340,"wires":[[]]},{"id":"65175f75.453d","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gking.mesh","id":"BK","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BK","save":false},"x":510,"y":340,"wires":[[]]},{"id":"50b2c468.d7086c","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gqueen.mesh","id":"BQ","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BQ","save":false},"x":90,"y":380,"wires":[[]]},{"id":"606d868.40ac978","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gbishop.mesh","id":"BB2","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BB2","save":false},"x":230,"y":380,"wires":[[]]},{"id":"f6b87d40.21dba","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gknight.mesh","id":"BN2","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BN2","save":false},"x":370,"y":380,"wires":[[]]},{"id":"e1411024.1e59b","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"rook.mesh","id":"BR2","position":{"x":-64,"y":140,"z":148},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BR2","save":false},"x":510,"y":380,"wires":[[]]},{"id":"1f86ea11.df9276","type":"add-mesh","z":"f510a0ee.ecd55","settings":{"create":"init","options":{"url":"gknight.mesh","id":"BN1","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":5,"y":5,"z":5},"autophysical":true,"physical":{"raycast":true}},"displayName":"BN1","save":false},"x":230,"y":340,"wires":[[]]},{"id":"d0334345.8b61b","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1080,"wires":[["5589d362.ffbebc"]]},{"id":"34904631.84c90a","type":"switch","z":"f510a0ee.ecd55","name":"","property":"payload.babu","propertyType":"msg","rules":[{"t":"eq","v":"BP1","vt":"str"},{"t":"eq","v":"BP2","vt":"str"},{"t":"eq","v":"BP3","vt":"str"},{"t":"eq","v":"BP4","vt":"str"},{"t":"eq","v":"BP5","vt":"str"},{"t":"eq","v":"BP6","vt":"str"},{"t":"eq","v":"BP7","vt":"str"},{"t":"eq","v":"BP8","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":230,"y":1120,"wires":[["a9542590.f1ac88"],["3d6f0584.27ab5a"],["d0334345.8b61b"],["59e0c79c.5d7a68"],["4419da41.e83a34"],["9912229.c6d10e"],["4dc60a01.4fe344"],["237d6acf.314446"]]},{"id":"5589d362.ffbebc","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP3","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP3"},"x":600,"y":1080,"wires":[[]]},{"id":"a9542590.f1ac88","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1000,"wires":[["40fca85d.4f02d8"]]},{"id":"3d6f0584.27ab5a","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1040,"wires":[["881ea9d7.b69678"]]},{"id":"59e0c79c.5d7a68","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1120,"wires":[["5aa392.7131ec7"]]},{"id":"4419da41.e83a34","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1160,"wires":[["62d31fd5.cbd04"]]},{"id":"9912229.c6d10e","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1200,"wires":[["ea33bf11.8a305"]]},{"id":"4dc60a01.4fe344","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1240,"wires":[["362cd37e.62430c"]]},{"id":"237d6acf.314446","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1280,"wires":[["fd460642.b4c248"]]},{"id":"40fca85d.4f02d8","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP1"},"x":600,"y":1000,"wires":[[]]},{"id":"881ea9d7.b69678","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP2"},"x":600,"y":1040,"wires":[[]]},{"id":"5aa392.7131ec7","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP4","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP4"},"x":600,"y":1120,"wires":[[]]},{"id":"62d31fd5.cbd04","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP5","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP5"},"x":600,"y":1160,"wires":[[]]},{"id":"ea33bf11.8a305","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP6","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP6"},"x":600,"y":1200,"wires":[[]]},{"id":"362cd37e.62430c","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP7","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP7"},"x":600,"y":1240,"wires":[[]]},{"id":"fd460642.b4c248","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BP8","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BP8"},"x":600,"y":1280,"wires":[[]]},{"id":"3cf15bcf.50bef4","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1420,"wires":[["8146086d.e9a6c8"]]},{"id":"8b027e14.0ebdb","type":"switch","z":"f510a0ee.ecd55","name":"","property":"payload.babu","propertyType":"msg","rules":[{"t":"eq","v":"WR1","vt":"str"},{"t":"eq","v":"WN1","vt":"str"},{"t":"eq","v":"WB1","vt":"str"},{"t":"eq","v":"WK","vt":"str"},{"t":"eq","v":"WQ","vt":"str"},{"t":"eq","v":"WB2","vt":"str"},{"t":"eq","v":"WN2","vt":"str"},{"t":"eq","v":"WR2","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":230,"y":1460,"wires":[["9a73bb20.d51cf8"],["e2b78bf3.21b278"],["3cf15bcf.50bef4"],["1444e2d9.ed97bd"],["8ad8c0f8.cccc9"],["f22a5ad9.7a44c8"],["e660d13d.3e8de"],["8f67e536.cb61a8"]]},{"id":"8146086d.e9a6c8","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WB1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WB1"},"x":600,"y":1420,"wires":[[]]},{"id":"9a73bb20.d51cf8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nif(msg.payload.pos_to3) ans.payload=msg.payload.pos_to3;\nif(msg.payload.pos_to4) ans.payload=msg.payload.pos_to4;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1340,"wires":[["c0860553.4185e8"]]},{"id":"e2b78bf3.21b278","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1380,"wires":[["e0390f5f.d158e"]]},{"id":"1444e2d9.ed97bd","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nif(msg.payload.pos_to3) ans.payload=msg.payload.pos_to3;\nif(msg.payload.pos_to4) ans.payload=msg.payload.pos_to4;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1460,"wires":[["7c6ac4f.eba593c"]]},{"id":"8ad8c0f8.cccc9","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1500,"wires":[["d02d006f.d574"]]},{"id":"f22a5ad9.7a44c8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1540,"wires":[["641fb968.84dd48"]]},{"id":"e660d13d.3e8de","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1580,"wires":[["a2e3382e.00d308"]]},{"id":"8f67e536.cb61a8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nif(msg.payload.pos_to3) ans.payload=msg.payload.pos_to3;\nif(msg.payload.pos_to4) ans.payload=msg.payload.pos_to4;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1620,"wires":[["b51e79c.4eb9188"]]},{"id":"c0860553.4185e8","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WR1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WR1"},"x":600,"y":1340,"wires":[[]]},{"id":"e0390f5f.d158e","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WN1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WN1"},"x":600,"y":1380,"wires":[[]]},{"id":"7c6ac4f.eba593c","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WK","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WK"},"x":600,"y":1460,"wires":[[]]},{"id":"d02d006f.d574","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WQ","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WQ"},"x":600,"y":1500,"wires":[[]]},{"id":"641fb968.84dd48","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WB2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WB2"},"x":600,"y":1540,"wires":[[]]},{"id":"a2e3382e.00d308","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WN2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WN2"},"x":600,"y":1580,"wires":[[]]},{"id":"b51e79c.4eb9188","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"WR2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_WR2"},"x":600,"y":1620,"wires":[[]]},{"id":"9b6a8ccc.d4abb","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1760,"wires":[["242c9f40.d3406"]]},{"id":"20bdf897.af9be8","type":"switch","z":"f510a0ee.ecd55","name":"","property":"payload.babu","propertyType":"msg","rules":[{"t":"eq","v":"BR1","vt":"str"},{"t":"eq","v":"BN1","vt":"str"},{"t":"eq","v":"BB1","vt":"str"},{"t":"eq","v":"BK","vt":"str"},{"t":"eq","v":"BQ","vt":"str"},{"t":"eq","v":"BB2","vt":"str"},{"t":"eq","v":"BN2","vt":"str"},{"t":"eq","v":"BR2","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":230,"y":1800,"wires":[["2b8e165f.13594a"],["e2fbe7da.cfd6d8"],["9b6a8ccc.d4abb"],["8394b296.3eba7"],["d9398b70.d4a3c8"],["87dc0dbb.5a566"],["af9839e3.4b88b8"],["115fa53.a29e05b"]]},{"id":"242c9f40.d3406","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BB1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BB1"},"x":600,"y":1760,"wires":[[]]},{"id":"2b8e165f.13594a","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nif(msg.payload.pos_to3) ans.payload=msg.payload.pos_to3;\nif(msg.payload.pos_to4) ans.payload=msg.payload.pos_to4;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1680,"wires":[["96539c72.25bd6"]]},{"id":"e2fbe7da.cfd6d8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1720,"wires":[["7332a5c9.75de2c"]]},{"id":"8394b296.3eba7","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nif(msg.payload.pos_to3) ans.payload=msg.payload.pos_to3;\nif(msg.payload.pos_to4) ans.payload=msg.payload.pos_to4;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1800,"wires":[["2375a7b1.8d3368"]]},{"id":"d9398b70.d4a3c8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1840,"wires":[["5390e1c2.58d32"]]},{"id":"87dc0dbb.5a566","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1880,"wires":[["caee8174.4d104"]]},{"id":"af9839e3.4b88b8","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1920,"wires":[["2380bf76.d9a5d"]]},{"id":"115fa53.a29e05b","type":"function","z":"f510a0ee.ecd55","name":"","func":"//if(get_par_pos==payload.pos_from) set_pos_kir=payload.pos_to;\n//return msg;\n\n\n//if(msg.payload.pos_from==global.kiralyno.position) return msg.payload.pos_to;\n\nlet ans={};\nif(msg.payload.pos_to) ans.payload=msg.payload.pos_to;\nif(msg.payload.pos_to2) ans.payload=msg.payload.pos_to2;\nif(msg.payload.pos_to3) ans.payload=msg.payload.pos_to3;\nif(msg.payload.pos_to4) ans.payload=msg.payload.pos_to4;\nreturn ans;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1960,"wires":[["938edef6.2d99b"]]},{"id":"96539c72.25bd6","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BR1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BR1"},"x":600,"y":1680,"wires":[[]]},{"id":"7332a5c9.75de2c","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BN1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BN1"},"x":600,"y":1720,"wires":[[]]},{"id":"2375a7b1.8d3368","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BK","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BK"},"x":600,"y":1800,"wires":[[]]},{"id":"5390e1c2.58d32","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BQ","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BQ"},"x":600,"y":1840,"wires":[[]]},{"id":"caee8174.4d104","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BB2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BB2"},"x":600,"y":1880,"wires":[[]]},{"id":"2380bf76.d9a5d","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BN2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BN2"},"x":600,"y":1920,"wires":[[]]},{"id":"938edef6.2d99b","type":"set-position","z":"f510a0ee.ecd55","settings":{"nodeid":"BR2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set_BR2"},"x":600,"y":1960,"wires":[[]]}]